.outer {
  display: flex;
  overflow-x: auto;
}
.outer > div {
  border: 1px solid black;
}
.col-1 {
  min-width: 200px;
  height: 100vh;
}
.col-2 {
  flex-grow: 1;
  min-width: 100px;
}
.col-3 {
  min-width: 300px;
}
